<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems.business.mapper.BorrowApplyRecordMapper">

    <resultMap id="BaseResultMap" type="com.ems.business.model.entity.BorrowApplyRecord">
            <result property="borrowApplyID" column="BorrowApplyID" jdbcType="INTEGER"/>
            <result property="borrowerID" column="BorrowerID" jdbcType="INTEGER"/>
            <result property="borrowApplyDate" column="BorrowApplyDate" jdbcType="TIMESTAMP"/>
            <result property="applyDescription" column="ApplyDescription" jdbcType="VARCHAR"/>
            <result property="approveTutorID" column="ApproveTutorID" jdbcType="INTEGER"/>
            <result property="borrowApplyState" column="BorrowApplyState" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        BorrowApplyID,BorrowerID,BorrowApplyDate,
        ApplyDescription,ApproveTutorID,BorrowApplyState,
        IsDeleted,CreateTime,UpdateTime
    </sql>
</mapper>
