<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems.business.mapper.DeviceScrapRecordMapper">

    <resultMap id="BaseResultMap" type="com.ems.business.model.entity.DeviceScrapRecord">
            <result property="scrapID" column="ScrapID" jdbcType="INTEGER"/>
            <result property="deviceID" column="DeviceID" jdbcType="INTEGER"/>
            <result property="scrapPerson" column="ScrapPerson" jdbcType="VARCHAR"/>
            <result property="scrapImages" column="ScrapImages" jdbcType="VARCHAR"/>
            <result property="scrapTime" column="ScrapTime" jdbcType="TIMESTAMP"/>
            <result property="scrapReason" column="ScrapReason" jdbcType="VARCHAR"/>
            <result property="deviceState" column="DeviceState" jdbcType="VARCHAR"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="scrapState" column="ScrapState" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ScrapID,DeviceID,ScrapPerson,
        ScrapImages,ScrapTime,ScrapReason,ScrapState,
        DeviceState,Remark,IsDeleted,
        CreateTime,UpdateTime
    </sql>
</mapper>
