<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems.business.mapper.DeviceCheckRecordMapper">

    <resultMap id="BaseResultMap" type="com.ems.business.model.entity.DeviceCheckRecord">
            <result property="checkID" column="CheckID" jdbcType="INTEGER"/>
            <result property="deviceID" column="DeviceID" jdbcType="INTEGER"/>
            <result property="checker" column="Checker" jdbcType="VARCHAR"/>
            <result property="checkTime" column="CheckTime" jdbcType="TIMESTAMP"/>
            <result property="checkImages" column="CheckImages" jdbcType="VARCHAR"/>
            <result property="deviceState" column="DeviceState" jdbcType="VARCHAR"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        CheckID,DeviceID,Checker,
        CheckTime,CheckImages,DeviceState,
        Remark,IsDeleted,CreateTime,
        UpdateTime
    </sql>
</mapper>
