<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ems.business.mapper.PurchaseApplySheetMapper">

    <resultMap id="BaseResultMap" type="com.ems.business.model.entity.PurchaseApplySheet">
            <id property="purchaseApplySheetID" column="PurchaseApplySheetID" jdbcType="INTEGER"/>
            <result property="purchaseApplicantID" column="PurchaseApplicantID" jdbcType="INTEGER"/>
            <result property="purchaseApplyDate" column="PurchaseApplyDate" jdbcType="TIMESTAMP"/>
            <result property="purchaseApplyDescription" column="PurchaseApplyDescription" jdbcType="VARCHAR"/>
            <result property="approveTutorID" column="ApproveTutorID" jdbcType="INTEGER"/>
            <result property="purchaseApplyState" column="PurchaseApplyState" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        PurchaseApplySheetID,PurchaseApplicantID,PurchaseApplyDate,
        PurchaseApplyDescription,ApproveTutorID,PurchaseApplyState,
        IsDeleted,CreateTime,UpdateTime
    </sql>
</mapper>
