<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BorrowApplySheetMapper">

    <resultMap id="BaseResultMap" type="generator.domain.BorrowApplySheet">
            <result property="borrowID" column="BorrowID" jdbcType="INTEGER"/>
            <result property="borrowApplyID" column="BorrowApplyID" jdbcType="INTEGER"/>
            <result property="deviceID" column="DeviceID" jdbcType="INTEGER"/>
            <result property="deviceName" column="DeviceName" jdbcType="VARCHAR"/>
            <result property="deviceType" column="DeviceType" jdbcType="VARCHAR"/>
            <result property="deviceModel" column="DeviceModel" jdbcType="VARCHAR"/>
            <result property="expectedReturnTime" column="ExpectedReturnTime" jdbcType="TIMESTAMP"/>
            <result property="actualReturnTime" column="ActualReturnTime" jdbcType="TIMESTAMP"/>
            <result property="borrowFee" column="BorrowFee" jdbcType="DECIMAL"/>
            <result property="remark" column="Remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        BorrowID,BorrowApplyID,DeviceID,
        DeviceName,DeviceType,DeviceModel,
        ExpectedReturnTime,ActualReturnTime,BorrowFee,
        Remark,IsDeleted,CreateTime,
        UpdateTime
    </sql>
</mapper>
