<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DeviceInventoryLossRecordMapper">

    <resultMap id="BaseResultMap" type="generator.domain.DeviceInventoryLossRecord">
            <result property="inventoryLossID" column="InventoryLossID" jdbcType="INTEGER"/>
            <result property="deviceID" column="DeviceID" jdbcType="INTEGER"/>
            <result property="checker" column="Checker" jdbcType="VARCHAR"/>
            <result property="inventoryLossTime" column="InventoryLossTime" jdbcType="TIMESTAMP"/>
            <result property="inventoryLossDescription" column="InventoryLossDescription" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="IsDeleted" jdbcType="TINYINT"/>
            <result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        InventoryLossID,DeviceID,Checker,
        InventoryLossTime,InventoryLossDescription,IsDeleted,
        CreateTime,UpdateTime
    </sql>
</mapper>
